
body {
    background-color: #EFEFEF;
    background-image: url('../../imagenes_web/background_body_gris_2.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0% 100%;
    background-size: 55%;

}

#welcomeTitle {
    font-family: 'Gladiola';
    font-size: 3em;
    text-decoration-line: underline;
    color: #FF4242;
    text-align: center;
}

.infoUser{
    font-family: 'AgrandirRegular';
    font-size: 1.5em;
    color: #000000;
    text-align: center;
}

#titleDeleteUser{
    color:red
}