body{
    background-image: url('../../imagenes_web/background_body_gris_2.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0% 100%;
    background-size: 55%;
    min-height: 100vh;
    background-color: #EFEFEF;
    
} 

.userName{
    font-family: 'AgrandirRegular';
    font-size: 25px;
    color: black;
}

.iconUser{
    height: 2.5em;
}