@font-face {
    font-family: "AgrandirRegular";
    src: url("../../fuentes/PPAgrandir/PPAgrandir-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gladiola";
    src: url("../../fuentes/Gladiola/Gladiola.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

#mainTitle {
    font-family: 'Gladiola';
    font-size: 3em;
    text-decoration-line: underline;
    color: #FF4242;
    text-align: center;
}

#logo_weizz {
    height: 7em;
    margin-left: 15px;
}

.hrLinea {
    display: block;
    width: 100%;
    border: 2px solid black;
    background-color: black;
}

header {
    margin-top: 15px;
    background-image: url("../../imagenes_web/background_header_2.png");
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

#encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloHeader {
    font-family: 'AgrandirRegular';
    font-size: 30px;
    color: black;
    text-decoration-line: none;
}

.tituloHeader:hover {
    text-decoration-line: underline;
}

body{
    background-image: url('../../imagenes_web/background_body_gris_2.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0% 100%;
    background-size: 55%;
    min-height: 100vh;
    background-color: #EFEFEF;
    
} 

.userName{
    font-family: 'AgrandirRegular';
    font-size: 25px;
    color: black;
}

.iconUser{
    height: 2.5em;
}