
body {
    background-image: url('../imagenes_web/background_body_gris_2.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0% 100%;
    background-size: 55%;
    min-height: 100vh;
    background-color: #EFEFEF;

}


.baseTitle{
    font-family: 'AgrandirRegular';
    color: black;
    font-size: 25px;
    margin-left: 15px;
}

.cuadroBase{
    height: 11em;
    width: 11em;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    
}

.baseTitle{
    margin-left: 47px;
   
}

.seleccionBase{
    text-decoration-line: none;
}
.seleccionBase:hover {
    .baseTitle{
        text-decoration-line: underline;
    }
    .cuadroBase{
        border: 4px solid black;
    }

}

#baseBasico{
    background-image: url('../imagenes_web/base_basico.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#baseMultiple{
    background-image: url('../imagenes_web/base_multiple.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}